*{
    font-family: 'Roboto', sans-serif;
}
.tela{
    position:absolute;
    width: 320px;
    height: 568px;
}
.cabecalho{
    width: 320px;
    height: 48px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #323751;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}
#cancelar{
    height: 25.629146575927734px;
    width: 79.84980010986328px;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 200px;      
    border-radius: 4px;    
    background: #FFFFFF;        
    border: 0.5px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 14px;
    color:#555555; 
}
#cancelar a{
    height: 12px;
    width: 40px;
    left: 29px;   

    font-style: normal;
    font-weight: normal;
    font-size: 10.5px;
    line-height: 12px;

    text-align: center;

}
#close{
    color: #323751;    
    display: flex;
    align-items: center;
    height: 25px;
    width: 79px;
 }
#como{
    height: 16px;
    width: 204px;    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    margin-top: 23px;
    margin-left: 23px;
    color: #555555;
    padding-left: 0.8px;
    padding-top: 1.6px;
}
#logo{
    position: absolute;
    left: 5%;
    right: 74.06%;
    top: 29.17%;
    bottom: 27.08%;

    background: url(image.png);
}
.nome-social{
    
    height: 133px;
    width: 320px;
    left: 0px;
    top: 48px;
    border-radius: 0px;
    position: absolute;
    background: #F9F9F9;
    color: #323751;

}
.nome-social a{
    margin-left: 18px;    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #323751;
}
#nome{
    margin-left: 18px;
    font-size: 20px;
}
.final{
    width: 320px;
    height: 387px;
    padding-top: 211px;
    background: #FFFFFF;        
}
#input{
    height: 36.4px;
    width: 278.4px;
    top: 16px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 5px;   
    bottom: 3.45%;
    border: 0.8px solid #C4C4C4;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #C4C4C4;    
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}
.voltar{
    margin-bottom: 24px;
    margin-top: 217px;
    margin-left: 16px;
    padding-left: 40px;
    height: 36px;
    width: 136px;
    left: 0px;
    top: 0px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #363636;
    display: flex;
    align-items: center;
}
.voltar a{
    width: 34px;
    height: 14px;
}
.proximo{
    margin-bottom: 24px;
    margin-top: 217px;
    margin-left: 16px;
    padding-left: 40px;
    height: 36px;
    width: 136px;
    left: 0px;
    top: 0px;
    border:none;
    background: #323751;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;

    font-style: normal;
    font-weight:normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    display: flex;    
    align-items: center;
}

#back{
    color: #5F82A6;      
    height: 14px;
    width: 14px; 
    padding-right: 25px;   
}
#prox{
    color: #5F82A6;    
    height: 14px;
    width: 14px;
    padding-left: 25px;    
}
.bg-modal{
    width: 320px;
    height: 212px;
    background-color: #323751;
    position: fixed;
    z-index: 2;
    top: -100%;
    display:block;
    border: 1px solid #363636;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0px 0px;
      
}
#fechar{
    height: 25.629146575927734px;
    width: 79.84980010986328px;
    margin-top: -13px;       
    margin-right: 5px;
    margin-left: 200px;      
    border-radius: 4px;    
    background: #FFFFFF;        
    border: 0.5px solid #E8E8E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;    

    font-size: 12px;
    line-height: 14px;
    color:#555555; 
}
h4{
    margin-left: 20px;
    margin-top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #EFEFEF;

}
p{
    margin-left: 20px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #EFEFEF;

}
.cpmSenha{
    height: 55px;
    width: 45px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;    
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #EFEFEF;
    background: #656982;

}
.confirmar{
    display: flex;
    align-items: center;
}
#pop-confirmar{
    height: 24px;
    width: 95px;
    left: 9px;
    top: 0px;
    border-radius: 4px;
    border: none;
    margin-left: 116px;
    margin-top:30px;
    
    left: 8.65%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;

    font-weight: 500;
    font-size: 9px;
    line-height: 11px;


    text-align: center;
    letter-spacing: 0.0357143em;

    color: #323751;

}
#dtlh-confirmar { 
 margin-left: -105px;
 margin-top: 30px;
}
#concluido{
    width: 320px;
    height: 212px;  
    margin-left: 15px;  
    position: fixed;
    z-index: 2;
    top: -100%;
    display:block;
   
}